<div class="catologue-container">
  <h2 [@fadeIn]>Catalogue</h2>
  <div class="catalogue-card">
    <mat-card role="group" class="catalogue-item">
      <mat-card-title>Voitures</mat-card-title>
      <mat-card-content>
        <img mat-card-image src="assets/images/voiture.jpg" alt="A Car for your transport and shopping " />
      </mat-card-content>
    </mat-card>

    <mat-card role="group" class="catalogue-item">
      <mat-card-title>Billet d'avion</mat-card-title>
      <mat-card-content>
        <img mat-card-image src="assets/images/billet-avion.jpg" alt="An airplane ticket representing travel and adventure" />
      </mat-card-content>
    </mat-card>

    <mat-card role="group" class="catalogue-item">
      <mat-card-title>Transfert d'argent</mat-card-title>
      <mat-card-content>
        <img mat-card-image src="assets/images/transfert-argent.jpg" alt="An illustration representing money transfer services" />
      </mat-card-content>
    </mat-card>

    <mat-card role="group" class="catalogue-item">
      <mat-card-title>Patisserie</mat-card-title>
      <mat-card-content>
        <img mat-card-image src="assets/images/patisserie.jpg" alt="A delicious pastry representing bakery and dessert items" />
      </mat-card-content>
    </mat-card>

    <mat-card role="group" class="catalogue-item">
      <mat-card-title>Blanchisserie</mat-card-title>
      <mat-card-content>
        <img mat-card-image src="assets/images/patisserie.jpg" alt="A delicious pastry representing bakery and dessert items" />
      </mat-card-content>
    </mat-card>

    <mat-card role="group" class="catalogue-item">
      <mat-card-title>Restaurant</mat-card-title>
      <mat-card-content>
        <img mat-card-image src="assets/images/patisserie.jpg" alt="A delicious pastry representing bakery and dessert items" />
      </mat-card-content>
    </mat-card>
  </div>
  <app-footer />
</div>
